@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-brand-gold {
  color: #b6894a !important;
}

.text-primary {
  color: #15577a !important;
}

@keyframes floatStar {
  0% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }

  25% {
    transform: translateY(-6px) scale(1.05) rotate(4deg);
    opacity: 0.85;
  }

  50% {
    transform: translateY(2px) scale(0.95) rotate(-3deg);
    opacity: 1;
  }

  75% {
    transform: translateY(-4px) scale(1.1) rotate(3deg);
    opacity: 0.9;
  }

  100% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}